body { font-family: Arial, sans-serif; background: rgb(81, 96, 169)align: center; }
.container { margin-top: 60px; background: rgb(182, 77, 77)135, 30, 30)a1a; padding: 30px; border-radius: 10px; display: inline-block; }
img { align:center }
h1 { color: #2d3e50; font-size: 2em; margin-bottom: 10px; }
p { color: #444; font-size: 1.1em; }
